<div class="container">
  <h1>{{ book.title }}</h1>
 
  <table class="table">
    <thead>
      <tr>
       <th>Machine Number</th>
       <th>Machine Name</th>
        <th>Machine Spec</th>
        <th>spares Used</th>
        <th>Date</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ book.id }}</td>
        <td>{{book.name}}</td>
        <td>{{ book.spec }}</td>
        <td>{{ book.spares }}</td>
        <td>{{ book.date }}</td>
      </tr>
    </tbody>
  </table>

<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">DELETE</button>
    <a [routerLink]="['/machines']" class="btn btn-success">BAck</a>
  </div>
</div>
</div>